[Unit]
Description="Traefik service"
ConditionDirectoryNotEmpty=/etc/traefik/certs

[Service]
WorkingDirectory=/etc/traefik
ExecStartPre=/usr/local/bin/docker-compose down
ExecStartPre=-/bin/sh -c scripts/create-traefik-network.sh
ExecStart=/usr/local/bin/docker-compose up --build
ExecStartPre=/usr/local/bin/docker-compose pull
ExecStop=/usr/local/bin/docker-compose down
Restart=always
StartLimitIntervalSec=2

[Install]
WantedBy=default.target
